
@media (max-width: 58em) {
    h3 {
        font-size: 26px;
    }
    html {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .nav__links {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        display: none;
        float: none
    }
    .nav__link {
        display: none;
    }
    .header__content {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .header__title {
        padding-top: 0px;
        font-size: 26px;
        line-height: 55.02px;
        font-weight: 600;
        color: #213786;
    }
    .header__container {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title__container {
        margin-left: 20px;
        align-items: center;
        height: 30vh;
        width: 100vw;
    }
    .product__picture {
        padding: 0;
        width: 50vw;
        margin-top: 20px;
        margin-right: 60px;
    }
    .section__subtitle {
        padding-left: 10px; 
        width: 95vw;
        padding-top: 240px;
    }
    .info__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 7px;
        margin-top: 320px;
        width: 90vw;
        align-items: center;
        height: 15vh;
        background-color: white;
        border: none;
    }
    .info__title {
        padding-left: 30px;
        align-items: center;
    }
    .massage__list {
        display: none;
    }
    .operation__seller__container {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        padding-left: 5px;
    }
    .seller__container {
        width: 90vw;
        border: 1px solid rgba(174, 204, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius:  110px;
        background-color: rgba(234, 242, 255, 0.1);
    }
    .section__header__subcontainer {
        width: 50%;
        flex-direction: column;
    }
    .review__3 {
        display: none;
    }
    .section__header__title {
        font-size: 12px;
        line-height: 18px;
    }
    .rounded__container {
        width: 36px;
        height: 36px;
    }
    .section__header__title {
        display: none;
    }
    .section__header__title__hidden {
        display: inline-block;
        font-size: 12px;
        font-weight: 800;
        line-height: 18px;
        color: #FFFFFF;
    }
    .section__content {
        height: 100%;
    }
    .section__title {
        align-items: center;
    }
    .section__content__title {
        font-size: 30px;
    }
    .section__content__subtitle {
        font-size: 30px;
    }
    .card__container {
        padding: 0px;
        margin: 0px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .card {
        padding: 0px;
    }
    .second__section__content {
        align-items: center;
    }
    .section__title {
        width: 90%;
    }
    .section__content__title {
        font-size: 30px;
    }
    .card__title__offer {
        font-size: 30px;
    }
    .section__review__container {
        justify-content: space-around;
    }
   
    
}