
@media (max-width: 450px) {
    h3 {
        font-size: 26px;
    }
    html {
        margin: 0px;
        padding: 0px;
    }
    .main__container {
        margin: 0px;
        padding: 0px;
    }
    .nav {
        align-items: center;
    }
    .nav__links {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        display: none;
        float: none
    }
    .nav__link {
        display: none;
    }
    .header__content {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .header__title {
        font-size: 26px;
        line-height: 55.02px;
        font-weight: 600;
        color: #213786;
    }
    .header__container {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title__container {
        margin-left: 20px;
        align-items: center;
        height: 30vh;
        width: 100%;
    }
    .product__picture {
        padding: 0;
        width: 50%;
        margin-top: 20px;
        margin-right: 60px;
    }
    .section__subtitle {
        display: none;
    }
    .section__subtitle__hidden{
        display: inline-block;
        padding-left: 40px;
        line-height: 22px;
        font-size: 14px;
        width: 100%;
    }
    .info__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 7px;
        margin-top: 340px;
        width: 90%;
        align-items: center;
        height: 15vh;
        background-color: white;
        border: none;
    }
    .info__title {
        padding-left: 30px;
        align-items: center;
    }
    .massage__list {
        display: none;
    }
    .operation__seller__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .operations {
        width: 90%;
    }
    .seller__container {
        margin-top: 20px;
        width: 90%;
        border: 1px solid rgba(174, 204, 255, 0.5);
        display: flex;
        align-items: center;
        border-radius:  110px;
        background-color: rgba(234, 242, 255, 0.1);
    }
    .seller__description__container {
        width: 100%;
    }
    .section__header__subcontainer {
        width: 50%;
        flex-direction: column;
    }
    .review__3 {
        display: none;
    }
    .section__header__title {
        font-size: 12px;
        line-height: 18px;
    }
    .rounded__container {
        width: 36px;
        height: 36px;
    }
    .section__header__title {
        display: none;
    }
    .section__header__title__hidden {
        display: inline-block;
        text-align: center;
        width: %;
        font-size: 12px;
        font-weight: 800;
        line-height: 18px;
        color: #FFFFFF;
    }
    .section__content {
        height: 100%;
    }
    .section__title {
        align-items: center;
    }
    .section__content__title {
        font-size: 30px;
    }
    .section__content__subtitle {
        font-size: 30px;
    }
    .card__container {
        margin-bottom: 63px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .card {
        margin-top: 73px;
    }
    .second__section__content {
        height: 100%;
        padding-left: 16px;
        margin-right: 16px;
        align-items: center;
    }
    .section__title {
        text-align: center;
        width: 100%;
    }
    .section__content__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        line-height: 41px;
    }
    .card__title__offer {
        font-size: 30px;
        line-height: 41px;
    }
    .reviews__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
    .user__card {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .faq__section__content {
        height: 100%;
    }
    .faq__container {
        margin: 0px;
        padding: 20px;
    }
    .faq__girl__image {
        width: 100%;
        padding: 20px;
    }
    .faq__questions__container {
        padding: 0px;
        margin: 0px;
        flex-direction: column;
    }
    .qa__container {
        width: 100%;
    }
    .see__all__header {
        text-align: center;
    }
    
    
   

}