* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
html {
  box-sizing: border-box;
  font-family: 'Montserrat';

}
/* Header*/
.header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.95);
}
.blue__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #11346F;
  height: 39px;
}
.sale__ad {
  color: #FFFFFF;
  font-size: 14px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-color: rgba(245, 253, 255, 0.8);
  height: 67px;
}
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between
}
.nav__item {
  margin-left: 60px;
}
.nav__link {
  font-size: 16px;
  color: #11346F;
  text-decoration: none;
  font-family: 'Montserrat';
  display: block;
}
.nav__logo {
  height: 1.5rem;
  transition: all 0.3s;
}
.nav__link--btn{
  padding: 0.8rem 3.0rem;
  border-radius: 3rem;
  background-color: #197AFF;
  text-decoration: none;
  color: #FFFFFF;
}
.header__content {
  padding-left: 160px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}

.header__title {
  padding-top: 63px;
  font-size: 42px;
  line-height: 55.02px;
  font-weight: 600;
  color: #213786;
}
.product__picture {
  width: 25%;
  height: 25%;
}
.section__subtitle {
  padding-top: 50px;
  font-size: 18px;
  max-width: 650px;
  font-weight: 600;
  line-height: 28px;

}
.highlight{
  color: #197AFF;
  font-weight: 900;
}
.info__container {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  height: 152px;
  border-radius: 10px;
  border: 1px solid #AECCFF;
  background-color: rgba(174, 204, 255, 0.1);
}
.mini__container: {
  display: flex;
  flex-direction: row;
}
.info__title {
  font-weight: 800;
  font-size: 14px;
  color: #11346F;
  line-height: 20px;
}
.info_subtitle {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.info_logo {
  padding-left: 30px;
  padding-top: 20px;
}
.operations{
  display: flex;
  padding-top: 52px;
  width: 408px;
  flex-direction: column;
  align-items: center;
}
.massage__button {
  background-color: #197AFF;
  border-radius: 60px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  width: 100%;
  border: none;
  color: #FFFFFF;
  height: 63px;
}
.mini__tm {
  font-size: 10px;
}
.price__span {
  font-size: 15px;
  font-weight: 700;
  color: rgba(25, 122, 255, 1);
}
.massage__price__button {
  height: 34px;
  width: 60%;
  margin-top: 18px;
  cursor: pointer;
  font-weight: 500;
  background-color: rgba(77, 145, 207, 0.15);
  border-radius: 30px;
  border: none;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product__picture {
  padding-top: 70px;
}
.operation__seller__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.seller__container {
  margin-top: 90px;
  width: 30%;
  border: 1px solid rgba(174, 204, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius:  110px;
  background-color: rgba(234, 242, 255, 0.1);
}
.avatar {
  width: 64px;
  height: 64px;
}
.seller__description__container {
  display: flex;
  padding-left: 20px;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.description__subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5px;
}


.section__header {
  height: 10vh;
  background-color: #11346F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.section__header__title {
  font-size: 16px;
  font-weight: 800;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}
.section__header__subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.rounded__container {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.section__content {
  height: 100vh;
  /* width: 100%; */
  background-image: linear-gradient(#AECCFF, #197AFF);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title {
  padding-top: 20px;
  align-items: center;
}
.section__content__title {
  font-size: 37px;
  font-weight: 700;
  color: #11346F;
}
.section__content__subtitle {
  font-size: 37px;
  font-weight: 900;
  color: #FFFFFF;
  padding-left: 35px;
}
.waves__picture {
  padding-left: 60px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 368px;
  height: 530px;
  border-radius: 18px;
  border: 1.5px solid #197AFF;
  position: relative;
  margin-left: 47px;
  background-color: #F6F8FC;
  margin-top: 30px;
  padding-top: 30px;
}
.card__container {
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__image {
  position: absolute;
  width: 180px;
  height : 100px;
  top: -30px;
} 
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.card__content__money__back {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  color: #11346F;
  font-size: 12px;
}
.card__badge {
  width: 23px;
  height: 23px;
  margin-right: 5px;

}
.sale__offer__card {
  width: 110%;
  height: 10vh;
  border: 1px solid #AECCFF;
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-radius: 19px;
}
.special__card {
  display: flex;
  width: 100%;
  border: 1px solid #AECCFF;
  border-radius: 80px;

}
.special__offer__card {
  display: flex;
  width: 50%;
  height: 5vh;
  justify-content: space-evenly;
  background-color: #99D298;
  border-radius: 48px;
  border: 1px solid #99D298;
  color: #11346F;
  font-size: 12px;
  align-items: center;
}
.order__price {
  margin-top: 7px;
  font-size: 13px;
  font-weight: 800;
  color: #11346F;
}
.card__content_subcontent {
  font-size: 12px;
  color: #11346F;
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.afterpay__card {
  background-color: #BCF5E3;
  border-radius: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}
.card__action__button {
  width: 90%;
  height: 10%;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  background-color: #197AFF;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  box-shadow: 8px 8px 14px rgba(25, 122, 255, 0.5);
}
.card__footer {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.card__title {
  font-size: 30px;
  font-weight: 700;
  color: #11346F;
}
.card__title__offer {
  font-size: 30px;
  font-weight: 700;
  color: #197AFF;
}
.blue__waves {
  padding-left: 120px;
}
.price__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price__value {
  font-size: 32px;
  font-weight: 900;
  color: #11346F;
}
.deleted__price {
  font-size: 32px;
  font-weight: 800;
  color: #93A2BB;
  padding-bottom: 10px;
  padding-left: 10px;
}
.first__card__button {
  margin-top: 40px;
}
.first__card__container {
  display: flex; 
  flex-direction: column;
}
.shipping__fee {
  font-size: 13px;
  font-weight: 700;
  font-family: #11346F;
}
.first__container__badge {
  padding-top: 30px;
}
.money__back__title {
  font-size: 12px;
  font-weight: 700;
  color: #11346F;
}
.plus__badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57AC73;
  width: 40%;
  height: 8%;  
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
}
.second__section__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F8FC;
}
.section__review__container {
  display: flex;
  width: 90vw;
  padding-top: 30px;
  justify-content: space-between;
  flex-direction: row;
}
.reviews__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 13vw;
}
.review__button {
  height: 30px;
  width: 133px;
  border: 1px solid #213786;
  background-color: #F6F8FC;
  border-radius: 5px;
  cursor: pointer;
}
.user__card {
  width: 285px;
  height: 472px;
  border-radius: 10px;
  border: 1px solid #E9E9E9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user__card__header {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;

}
.verified__container {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 30px;
}
.card__review {
  padding-top: 20px;
  padding-left: 15px;
}
.user__card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.user__description {
  font-size: 13px;
  font-weight: 600;
  color: #262626;
  line-height: 26px;
}
.review__section__content {
  height: 100%;
  background-color: gray;
}
.faq__title {
  font-size: 37px;
  font-weight: 700;
  color: #FFFFFF;

}
.faq__section__content {
  height: 100vh;
  width: 100%;
  background-color: #11346F; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
} 
.faq__questions__container {
  display: flex;
  width: 70%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.faq__container {
  height: 100%;
}
.qa__container {
  width: 652px;
  height: 59px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #194081;
  border: 1px solid #31548E;
  margin-bottom: 16px;  
  border-radius: 9px;
}
.qa__paragraph {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}